html {
    --text-dark-color: #4a4e71;

    --success-color: 39, 178, 116; // rgb(39, 178, 116) / #27b274
    --error-color: 255, 128, 128; // rgb(255, 128, 128) / #ff8080
    --disabled-color: 189, 192, 206; // rgb(189, 192, 206) / #bdc0ce
}
